TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_IDS=
ALLOWED_TELEGRAM_IDS=
REQUEST_TIMEOUT_SECONDS=10
MAX_RESPONSE_BYTES=1000000
MAX_HTML_SIZE_MB=5
DOWNLOADS_DIR=downloads
MIN_FREE_DISK_MB=512
MAX_DOWNLOAD_SIZE_MB=50
TELEGRAM_MAX_UPLOAD_SIZE_MB=50
MAX_DOWNLOADS_PER_USER_PER_DAY=10
MAX_CONCURRENT_JOBS_GLOBAL=3
MAX_CONCURRENT_JOBS_PER_USER=1
